.confetti {
    position: absolute;
  }
  
  .block.testimonies .testimony.unselected {
    display: none;
  }
  
  .block.testimonies {
    position: relative;
  }
  
  .block.testimonies .testimony.selected em {
    font-style: normal;
  }
  
  .block.testimonies .testimony.selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .block.testimonies .testimony.selected .confetti {
    width: unset;
    height: unset;
    transform: scale(0.7);
  }
  
  .block.testimonies .testimony.selected .testimony-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 16px;
    z-index: 0;
    margin-top: 10px;
    box-shadow: 0 0 31px -8px rgb(10 10 10 / 30%);
  }
  
  /* make a triangle that points upwards in the center of the div */
  .block.testimonies .testimony.selected .testimony-img::after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
  }
  
  .block.testimonies .testimony.selected .testimony-content p {
    text-align: center;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .block.testimonies .testimony.selected .testimony-content .testimony-desc {
    margin-bottom: 1em;
    color: var(--text-color-dark-gray);
    line-height: 1.75rem;
  }
  
  .block.testimonies .testimony.selected .testimony-content .testimony-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-dark-gray);
  }
  
  .block.testimonies .testimony.selected .testimony-content .testimony-title {
    color: var(--text-color-light-gray);
    font-size: 1rem;
  }
  
  .block.testimonies .testimony.selected .testimony-img picture img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
  }
  
  .block.testimonies .testimony.selected .testimony-img {
    position: relative;
    width: 205px;
    height: 205px;
  }
  
  .block.testimonies .testimony.selected .testimony-img picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 205px;
    height: 205px;
    display: block;
  }
  
  .block.testimonies .testimony.selected .animation-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    background-color: #ed8c90;
    animation: scale-in 6s infinite cubic-bezier(0.1, 0.21, 0.89, 0.32);
  }
  
  .block.testimonies .testimony.selected .animation-circle-0 {
    animation-delay: 0s;
  }
  
  .block.testimonies .testimony.selected .animation-circle-1 {
    animation-delay: 1s;
  }
  
  .block.testimonies .testimony.selected .animation-circle-2 {
    animation-delay: 2s;
  }
  
  .block.testimonies .testimony.selected .animation-circle-3 {
    animation-delay: 3s;
  }
  
  .block.testimonies .testimony.selected .confetti-1 {
    top: -10px;
    right: -30px;
  }
  
  .block.testimonies .testimony.selected .confetti-2 {
    bottom: 0;
    right: -30px;
  }
  
  .block.testimonies .testimony.selected .confetti-3 {
    bottom: 40px;
    left: -30px;
  }
  
  .block.testimonies .testimony.selected .confetti-4 {
    top: 0;
    left: -30px;
  }
  
  @keyframes scale-in {
    from {
      transform: scale(1, 1);
      opacity: 0.1;
    }
  
    to {
      transform: scale(2, 2);
      opacity: 0;
    }
  }
  
  .block.testimonies .testimony.unselected .confetti {
    display: none;
  }
  
  @media (width >= 600px) {
    .block.testimonies .testimony.selected .confetti {
      transform: scale(1);
    }
  
    .block.testimonies .testimony.selected .confetti-1 {
      top: -10px;
      right: -70%;
    }
  
    .block.testimonies .testimony.selected .confetti-2 {
      bottom: 0;
      right: -70%;
    }
  
    .block.testimonies .testimony.selected .confetti-3 {
      bottom: 40px;
      left: -70%;
    }
  
    .block.testimonies .testimony.selected .confetti-4 {
      top: 0;
      left: -70%;
    }
  }
  
  @media (width >= 900px) {
    .block.testimonies .testimony.selected .testimony-content {
      width: 50%;
    }
  
    .block.testimonies .testimony.unselected {
      display: block;
      position: absolute;
      top: 0;
    }
  
    .block.testimonies {
      padding-top: 40px;
    }
  
    .block.testimonies .testimony.unselected .testimony-content {
      display: none;
    }
  
    .block.testimonies .testimony.unselected .testimony-img img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  
    .block.testimonies .testimony.pos-0 {
      left: 5%;
      top: 100px;
    }
  
    .block.testimonies .testimony.pos-1 {
      left: 20%;
      top: 0;
    }
  
    .block.testimonies .testimony.pos-2 {
      right: 20%;
      top: 0;
    }
  
    .block.testimonies .testimony.pos-3 {
      right: 5%;
      top: 100px;
    }
  
    .block.testimonies .testimony.selected .confetti-4 {
      top: 0;
      left: 0;
    }
  
    .block.testimonies .testimony.unselected.pos-0,
    .pos-2 {
      animation: move-up 12s infinite;
    }
  
    .block.testimonies .testimony.unselected.pos-1,
    .pos-3 {
      animation: move-down 12s infinite;
    }
  
    .block.testimonies .testimony.unselected.pos-1 .testimony-img img {
      width: 60px;
      height: 60px;
    }
  
    .block.testimonies .testimony.unselected.pos-3 .testimony-img img {
      width: 60px;
      height: 60px;
    }
  
    .block.testimonies .testimony.selected .confetti-1 {
      top: -10px;
      right: -40px;
    }
  
    .block.testimonies .testimony.selected .confetti-2 {
      bottom: 0;
      right: -40px;
    }
  
    .block.testimonies .testimony.selected .confetti-3 {
      bottom: 40px;
      left: -30px;
    }
  }
  
  @keyframes move-up {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes move-down {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .block.testimonies.no-float .testimony.unselected {
    display: none;
  }